{% extends 'content_base.html.twig' %}

{% block title %} {{ article.title }} {% endblock %}

{% block content_body %}
    <div class="row mx-auto">
        <div class="col-3 d-flex justify-content-center">
            <img class="articleImg" src="/build/images/article/{{ article.imageFilename }}">
        </div>
        <div class="col-9">
            <h1>{{ article.title }}</h1>
        </div>
    </div>
    <div class="row mx-auto mt-3">
        {{ article.content|escape|markdown }}
    </div>
    <div class="row mx-auto font-weight-bold mt-4">
        {{ article.nonDeletedComments|length }} Comments
        <hr width="100%">
    </div>
    {% for comment in article.nonDeletedComments %}
        <div class="row my-4 mx-auto">
            <img src="{{ asset('build/images/user2.png') }}" class="user-img">
            <div class="col-md-8">
                <div class="col-8">
                    <span class="font-weight-bold">{{ comment.authorName }}</span> about {{ comment.createdAt|ago }}
                    {% if comment.isDeleted %}
                        <span class="font-weight-bold">deleted</span>
                    {% endif %}
                </div>
                <div class="col-12">{{ comment.content }}</div>
            </div>
        </div>
    {% endfor %}
{% endblock %}