{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-2 d-flex justify-content-center">
                <img src="{{ article.imageFilename }}">
            </div>
            <div class="col-10">
                <h1>{{ article.title }}</h1>
            </div>
        </div>
        <div class="row mx-auto mt-3">
            {{ article.content|markdown }}
        </div>
        <div class="row mx-auto font-weight-bold">
            {{ article.comments|length }} Comments
            <hr width="100%">
        </div>
        {% for comment in article.comments %}
            <div class="row my-4">
                <img src="{{ asset('images/user2.png') }}" class="user-img">
                <div class="col-md-8">
                    <div class="col-8"><span class="font-weight-bold">{{ comment.authorName }}</span> about {{ comment.createdAt|ago }}</div>
                    <div class="col-12">{{ comment.content }}</div>
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}