{% extends 'base.html.twig' %}
{% block body %}
    <div class="container">
        <div class="row mx-auto">
            <div class="col-2 d-flex justify-content-center">
                <img src="{{ article.imageFilename }}">
            </div>
            <div class="col-10">
                <h1>{{ article.title }}</h1>
            </div>
        </div>
        <div class="row mx-auto mt-3">
            {{ article.content|markdown }}
        </div>
        <div class="row mx-auto">
            {{ article.comments|length }} Comments
            <hr width="100%">
        </div>
        {% for comment in article.comments %}
            <div class="col-md-6 p-0 mb-2">
                <div class="col-md-8 p-0">
                    {{ comment.content }}
                </div>
                <div class="col-md-4 p-0">
                    {{ comment.authorName }}
                </div>
            </div>
        {% endfor %}
    </div>
{% endblock %}