{% extends 'base.html.twig' %}

{% block title %}Blog{% endblock %}

{% block body %}
{# TODO: make visual changes #}
    <div class="container">
        <div class="row">
            <div class="col-md-6">
                <div class="row">
                    {% for article in articles %}
                        <div class="col-md-6">
                            <div class="article-container my-3">
                                <div class="p-0">
                                    <img src="/build/images/article/{{ article.imageFilename }}" class="articleImg">
                                </div>
                                <div class="mt-2 article-link">
                                    <a href="{{ path('article', {slug: article.slug}) }}" class="stretched-link">
                                        <span>{{ article.title }}</span>
                                    </a>
                                </div>
                                <div class="article-author my-auto">
                                    <small>Author: {{ article.author }}</small>
                                </div>
                                <div class="mt-auto">
                                    <span>{{ article.publishedAt|ago }}</span>
                                </div>
                            </div>
                        </div>
                    {% endfor %}
                </div>
            </div>
        </div>
    </div>
{% endblock %}